block variables

doctype html
html( lang='en' )
	head
		title Multi Switches Demo
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible' content='IE=Edge' )
		meta( charset='utf-8' )

		link( rel='stylesheet', href='css/style.css' )

	body
		.page
			block page

		script( src='js/MultiSwitches.js' )
		script( src='js/script.js' )
